pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
xgboost==2.1.1
lightgbm==4.5.0
imbalanced-learn==0.12.3
shap==0.46.0
kfp==2.8.0
kfp-kubernetes==1.2.0
prometheus-client==0.21.0
fastapi==0.115.6
uvicorn==0.34.0
matplotlib==3.9.2
seaborn==0.13.2
flake8==7.1.1
pytest==8.3.4
joblib==1.4.2
psutil==6.1.1
kubernetes==26.1.0
